<div class='container'>
	<div class='row'>
		<div class='col-sm-3' id='foto-user'>
			<img class='img-circle' src="http://dummyimage.com/300x300/000/fff.png">
		</div>
		<div class='col-sm-3' id='nome-user'>
			<h2 class='' id='nome-user'><%=@user.nome_completo %></h2>
		</div>
	</div>
</div>