<div class='container-fluid'>
	<div class='row'>
		<div class='col-sm-4' id='foto-user'>
			<img class='img-circle col-sm-10' src="http://dummyimage.com/300x300/000/fff.png">
		</div>
		<div class='col-sm-8' id='nome-user'>
			<h2><%=@user.nome_completo%></h2>
		</div>
	</div>
</div>
