<h1> Pagina Principal</h1>
<div class='container'>
	<div class='row'>
		<div class='col-sm-5' id='pessoas' >
      <div class='row'>
        <div class='col-sm-1 thumb'>
          <a href="#" class='thumbnail'>
            <img src="http://dummyimage.com/128x128/eeeeee/333333.png">
          </a>
        </div>
        <div class='col-sm-1 thumb'>
          <a href="#" class='thumbnail'>
            <img src="http://dummyimage.com/128x128/eeeeee/333333.png">
          </a>
        </div>
        <div class='col-sm-1 thumb'>
          <a href="#" class='thumbnail'>
            <img src="http://dummyimage.com/128x128/eeeeee/333333.png">
          </a>
        </div>
        <div class='col-sm-1 thumb'>
          <a href="#" class='thumbnail'>
            <img src="http://dummyimage.com/128x128/eeeeee/333333.png">
          </a>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-1 thumb'>
          <a href="#" class='thumbnail'>
            <img src="http://dummyimage.com/128x128/eeeeee/333333.png">
          </a>
        </div>
        <div class='col-sm-1 thumb'>
          <a href="#" class='thumbnail'>
            <img src="http://dummyimage.com/128x128/eeeeee/333333.png">
          </a>
        </div>
        <div class='col-sm-1 thumb'>
          <a href="#" class='thumbnail'>
            <img src="http://dummyimage.com/128x128/eeeeee/333333.png">
          </a>
        </div>
        <div class='col-sm-1 thumb'>
          <a href="#" class='thumbnail'>
            <img src="http://dummyimage.com/128x128/eeeeee/333333.png">
          </a>
        </div>
      </div>
		</div>
		<div class='col-sm-4 descricao'>
			AQUI VAI ALGUMA COISA DESCREVENDO
		</div>
	</div>
</div>