<h1> Pagina Principal</h1>
<div class='container-fluid'>
	<div class='row'>
		<div class='col-sm-7 pessoas' >
      <% @users.first(9).each do |user|%>
      <div class='col-sm-4 thumbnail thumb'>
        <%=image_tag user.avatar.url(:thumb), :class => "img-thumbnail center-block"%>
        <div class="caption text-center">
          <h3><%= link_to "#{user.nome_completo}",
           {:controller => "usuario", :action => "show", :id => "#{user.id}"},
           {:class => "btn btn-primary text-center", :role => "button"}%>
         </h3>

        </div>
      </div>
      <% end %>
		</div>
    <div class='descricao col-sm-4'>
      <p> YearBook é um site criado por Willian Soares e Maurício Roque Vidal, especialmente para a aula de Tópicos Especial em Computação de 2014, da Universidade Federal de Alfenas.</p>
      <p> Nesse site seram representadas fotos de todas as pessoas que participaram dessa aula, simulando um livro de final de ano que as escolas americanas usam. Seu funcionamento sera parecido com o de uma comunidade social. Cada pessoa terá seu perfil e podera visitar o perfil das demais pessoas que fazem parte desse grupo.</p>
      <p> Todas as informações apresentadas são meramente ilustrativas, somente colocadas para efeito de estética do trabalho que será apresentado.</p>
    </div>
	</div>
</div>