<h1> Pagina Principal</h1>
<div class='container'>
	<div class='row'>
		<div class='col-sm-5 pessoas' >
      <% #@users.each do |user|%>
        <di/v class='col-sm-4 thumbnail thumb'>
          <a href="#" class='img-thumbnail center-block'>
            <img src="https://dummyimage.com/128x128/eeeeee/333333.png">
          </a>
          <div class="caption text-center">
            <h3><a href="#" class="btn btn-primary text-center" role="button">Nomes <%= #user.email%></a></h3>
          </div>
        <% #end %>
      </div>
		</div>
		<div class='col-sm-4 descricao'>
			AQUI VAI ALGUMA COISA DESCREVENDO
		</div>
	</div>
</div>