/*Utilizar o tema "Agencia de Crescimento:
	#323540 - Azul-Negro
	#2E62A6 - Azul-Claro
	#2A558C - Azul-Médio
	#D3D9C7 - Branco
	#F2DEA2 - Pastel 
*/

body{
	background: #D3D9C7;
}
.yield{
	background: none repeat scroll 0 0 #eff5e3;
	border-radius: 9px;
	margin-top: -15px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.navbar-default{
	background: #2A558C;
	border: 1px solid #323540;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a{
	color: #e7e7e7;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #8FC3FF;
}

.pessoas, .descricao{
	background: #2E62A6;
}
.descricao {
    margin-left: 3em;
    color: #fff;
}
.thumb{
	margin: 10px 0 5px;
}
.thumbnail .caption {
    padding: 0px;
}
.thumbnail .thumb{
	padding: 0px;
}

.navbar-right{
	color: #e7e7e7;
}

html body div.container div.col-sm-offset-1.col-sm-10.yield form#edit_user.edit_user div.form-edit-texto.col-sm-4 div.form-group{
	padding-left: 0;
}

#perfil{
	margin-top: 20px;
}
#nome-user{
	border-bottom: #2A558C 2px solid;
	margin-top: 60px;
}

#footer{
	background: #2A558C;
	border: 1px solid #323540;	
}