/*Utilizar o tema "Agencia de Crescimento:
	#323540 - Azul-Negro
	#2E62A6 - Azul-Claro
	#2A558C - Azul-Médio
	#D3D9C7 - Branco
	#F2DEA2 - Pastel 
*/

body{
	background: #DF494A
}

.navbar-default{
	background: #2A558C;
	border: #001e55 1,5px;
}

.navbar-default .navbar-brand{
	color: #F7E1A7;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	color: #F2DEA2;
}